<!DOCTYPE html>
<html>
  <head>
	  <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p.aprovado {
  color: green;
}

p.indefinido {
  color: orange;
}

p.reprovado {
  color: red;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

</style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Propostas submetidas a edital</title>
  </head>
  <body>

    <h1><b>Propostas submetidas a Edital</b></h1>
    <h3>{{ descricao }} </h3>

    <hr>
    <h1><b>Resumo da Demanda</b></h1>
    <table>
      <th>Unidade Academica</th><th>Número de propostas submetidas</th><th>Previsão de cota (UFCA)</th><th>Previsão de cota (CNPq)</th>
      {% for linha in linhas_demanda %}
      <tr>
        <td align="center">{{linha[0]}}</td><td align="center">{{linha[1]}}</td><td align="center">({{ ((linha[1]/total)*bolsas_ufca)|round|int }})</td><td align="center">({{ ((linha[1]/total)*bolsas_cnpq)|round|int }})</td>
      </tr>
      {% endfor %}
    </table>
    <b>Total: {{total}}</b>
    <div class="row">
      <div class="column">
        <center><img src="{{ url_for('static', filename='/plots/grafico-demanda.png')}}" style="width:100%" alt="" align="center"></center>
        <center><figcaption>Gráfico 1: Percentual de propostas por unidade academica.</figcaption></center>
      </div>
      <div class="column">
        <center><img src="{{ url_for('static', filename='/plots/grafico-demanda-2.png')}}" style="width:100%" alt="" align="center"></center>
        <center><figcaption>Gráfico 2: Quantidade de propostas por unidade acadêmica.</figcaption></center>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="column">
        <center><img src="{{ url_for('static', filename='/plots/grafico-novos1.png')}}" style="width:100%" alt="" align="center"></center>
        <center><figcaption>Gráfico 3: Situação (em percentual) dos projetos novos.</figcaption></center>
      </div>
      <div class="column">
        <center><img src="{{ url_for('static', filename='/plots/grafico-novos2.png')}}" style="width:100%" alt="" align="center"></center>
        <center><figcaption>Gráfico 4: Situação (em quantidades) dos projetos novos.</figcaption></center>
      </div>
    </div>
    <hr>
    <h1>Propostas ordenadas pelo ID</h1>
    <table>
    <th>Id</th><th>Código do Edital</th><th>Categoria</th><th>Proponente</th><th>E-mail</th><th>UA</th><th>ScoreLattes</th><th>Título</th><th>Projeto</th><th>Plano1</th><th>Plano2</th><th>Lattes</th><th>Comprovantes</th><th>Data</th>
    <th>Início</th><th>Fim</th>
    {% for linha in listaProjetos %}
    <tr>
    <td>{{ linha[0] }}</td><td>{{ linha[1] }}</td>
    <td>
      {% if linha[2]==1 %}
      PROJETO NOVO
      {% endif %}
      {% if linha[2]==0 %}
      PROJETO EM ANDAMENTO
      {% endif %}
    </td>
    <td>{{ linha[3] }}</td><td>{{ linha[4] }}</td><td>{{ linha[5] }}</td><td><a href="/pesquisa/lattesDetalhado?id={{ linha[0] }}">{{ linha[6] }}</a></td><td>{{ linha[7] }}</td>
    <td>
      {% if linha[8]!="0" %}
      <a href="/pesquisa/static/files/{{ linha[8] }}">PROJETO</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td>
      {% if linha[9]!="0" %}
      <a href="/pesquisa/static/files/{{ linha[9] }}">PLANO1</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td>
      {% if linha[10]!="0" %}
      <a href="/pesquisa/static/files/{{ linha[10] }}">PLANO2</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td><a href="/pesquisa/static/files/{{ linha[11] }}">LATTES</a></td>
    <td>
      {% if linha[12]!="0" %}
      <a href="/pesquisa/static/files/{{ linha[12] }}">COMPROVANTES</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td>{{ linha[13] }}</td>
    <td>{{ linha[14] }}</td>
    <td>{{ linha[15] }}</td>
    </tr>
    {% endfor %}

    </table>
    Total: {{total}} propostas submetidas.

    <hr>
    <h1>PROJETOS NOVOS (em avaliação)</h1>
    
    <table>
      <th>ID</th><th>Nome</th><th>UA</th><th>Título</th><th>Projeto</th><th>Consultores</th><th>Recomendações</th><th>Enviado?</th><th>Aceitou?</th><th>Finalizados</th>
      <th>Aprovados</th><th>NÃO Aprovados</th><th>Indefinidos</th><th>Situação</th>
      {% for linha in novos %}
      <tr>
        <td>{{linha[0]}}</td><td>{{linha[1]}}</td><td>{{linha[2]}}</td><td>{{linha[3]}}</td><td><a href="/pesquisa/static/files/{{ linha[4] }}">PROJETO</a></td><td>{{linha[5]|safe}}</td><td>{{linha[6]|safe}}</td>
        <td>{{linha[7]|safe}}</td>
        <td>{{linha[8]|safe}}</td>
        <td>{{linha[9]}}</td>
        <td>{{linha[12]}}</td>
        <td>{{linha[11]}}</td>
        <td>{{linha[10]}}</td>
        <td>
          {% if (linha[12]+linha[11])>=2 %}
            {% if linha[12]-linha[11]>0 %}
            <p class="aprovado">APROVADO</p>
            {% else %}
            <p class="reprovado">NÃO APROVADO</p>
            {% endif %}
          {% else %}
            <p class="indefinido">INDEFINIDO</p>
          {% endif %}

        </td>
      </tr>
      {% endfor %}
    </table>
    Total: {{total_novos}} projetos novos submetidos.
  </body>
</html>
